# ==========================
# Operating System Files
# ==========================
Thumbs.db
Desktop.ini
.DS_Store

# ==========================
# Environment Files
# ==========================
.env
.env.*
!.env.example

# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/
.idea/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Build Output
# ==========================
dist/
build/

# ==========================
# Cache
# ==========================
.cache/

# ==========================
# Coverage
# ==========================
coverage/
js/firebase/firebase.local.config.js
